$primary: $dark;

header,
nav.navbar {
  background-color: $primary;
}

.header, .container {
  @include from($tablet) {
    width: 60vw;
  }

  width: 100%;
  margin: 0 auto;
}

.burger {
  color: white;
  &:hover {
    color: white;
  }
}

a.navbar-item,
.navbar-link {
  color: $primary-invert;
  &:hover {
    color: $primary-invert;
    background-color: darken($primary, 5%);
  }
}

.navbar-brand .navbar-item {
  padding-top: 0;
  padding-bottom: 0;
  .cars-logo {
    max-height: 38px;
  }
}

.navbar-menu {
  background-color: $dark;
  color: white;
}
